## Python Data structure: Tuple

## Question 1:  
 ### Print the second item in the tuple:

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

## Question 2:  
 ### Print the last item of the tuple:

In [2]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

## Question 3:  
 ### Print the third, fourth, and fifth item in the tuple:

In [3]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

## Question 4:  
 ###  Print the items from the beginning to, but NOT included, "kiwi":

In [9]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
thislist = list(thistuple)
thislist.remove("kiwi")
thistuple = tuple(thislist)
print(thistuple)

('apple', 'banana', 'cherry', 'orange', 'melon', 'mango')

## Question 5:  
 ###  Print the items from "cherry" and to the end:

In [10]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

## Question 6:  
 ###  Print the items from index -4 (included) to index -1 (excluded)

In [11]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

## Question 7:  
 ###  Check if "apple" is present in the tuple:

In [12]:
thistuple = ("apple", "banana", "cherry")
print("apple" in thistuple)

True

## Question 8:  
 ###  Convert the tuple into a list, add "orange", and convert it back into a tuple:

In [14]:
thistuple = ("apple", "banana", "cherry")
thislist = list(thistuple)
thislist.append("orange")
thistuple = tuple(thislist)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

## Question 9:  
 ###  Create a new tuple with the value "orange", and add that tuple:

In [19]:
thistuple = ("apple", "banana", "cherry")
newtuple = ("orange","")
thistuple = thistuple + newtuple
print(thistuple[:-1])

('apple', 'banana', 'cherry', 'orange')

## Question 10:  
 ###  Convert the tuple into a list, remove "apple", and convert it back into a tuple:

In [20]:
thistuple = ("apple", "banana", "cherry")
thislist = list(thistuple)
thislist.remove("apple")
thistuple = tuple(thislist)
print(thistuple)

('banana', 'cherry')

## Question 11:  
 ###  Join two tuples:

In [21]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
newtuple = tuple1 + tuple2
print(newtuple)

('a', 'b', 'c', 1, 2, 3)

## Question 12:  
 ###  Multiply the fruits tuple by 2:

In [22]:
fruits = ("apple", "banana", "cherry")
fruits2 = fruits *2
print(fruits2)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')